
<h4 class="my-4 font-weight-normal">New post</h4>

<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= render 'form', post: @post %></h4>
      </div>
     
</div>
 <div class="card-body">
        <h5 class="my-0 font-weight-normal"><%= link_to 'Back', posts_path %></h5>
</div>